<html>
  <head></head>
  <body>
    <h1>New todo</h1>
    <a href='/homepage'>Cancel</a>
    <form action="/add-todo" method="POST">
      <label for="todo" id="todo">Todo</label>
      <input type="text" name="todo">
      <input type="submit" name="Submit">
    </form>
  </body>
  
</html>