<html>
  <head></head>
  <body>
    <h1>New todo</h1>
    <a href='/homepage'>Cancel</a>
    <form action="/add-todo" method="POST">
      <label for="todo_title" id="todo_title">Todo</label>
      <input type="text" name="todo_title">
      <label for="todo_content" id="todo_content">Notes</label>
      <input type="text" name="todo_content">
      <label for="todo_deadline">Deadline:</label>
      <input type="date" id="todo_deadline" name="todo_deadline" value="<%= @date %>" min="2023-11-04" max="2025-12-31"/>
      <input type="submit" name="Submit">
    </form>
  </body>
</html>