<html>
  <head></head>
  <body>
    <h1>My todo list</h1>
    <%if @todos != nil%>
      <%@todos.each do |item|%>
        <p><%=item.content%></p>
      <%end%>
    <%end%>
    <a href='/add-todo'>Add todo</a>
  </body>
</html>