<html>
  <head>
  </head>
  <body>
    <h1>Listy</h1>
    <form action="/login" method="POST">
      <label for="username" id="username">Username</label>
      <input type="text" name="username">
      <label for="passkey" id="passkey" class="label">Password</label>
      <input type="text" name="passkey">
      <input type="submit" name="Submit">
    </form>
  </body>
</html>